#gpad-table-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem;
}

#axis-table,
#axis-table th,
#axis-table td {
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
}

#axis-table th {
  background-color: #4fb185;
  color: white;
}

#axis-table td {
  background-color: white;
  color: black;
  font-size: 14px;
}

#button-table,
#button-table th,
#button-table td {
  border: 1px solid black;
  border-collapse: collapse;
  color: black;
}

#button-table {
  width: 100%;
}

#button-table th {
  background-color: #4fb185;
  font-weight: bold;
  color: white;
}

#button-table td {
  font-size: 14px;
}