@import url('virtual-gamepad-lib/gamepad_assets/base.css');

#help-panel {
  height: 100vh;
  align-items: center;
  background-color: rgb(0, 0, 0);
}


.keyboard {
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
  font-size: 12px;
}

.keyboard-T {
  max-width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.g1-text-wrapper,
.g2-text-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.drive-gpad-table {
  width: 45%;
  align-self: center;
}

.g1,
.g2 {
  min-width: 0;
  min-height: 0;
}

.table {
  color: black;
  background-color: white;
  border-collapse: collapse;
  font-size: 7px;
  justify-content: center;
}

.th,
.td {
  border: 1px solid black;
  padding: 3px;
}

.th {
  background-color: #4fb185;
  font-weight: bold;
  color: white;
}

.keyboard-table-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.label {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  color: #4fb185;
}
