.help-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.help-panel > img {
  width: 500px;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  border-radius: 15px;
  -webkit-user-drag: none;
}
