@import url('virtual-gamepad-lib/gamepad_assets/base.css');

#help-panel {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#help-panel #top {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.5rem;
  width: 100%;
  height: 50%;
}

#help-panel #bot {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  gap: 2rem;
  padding: 0.5rem 2rem;
  background-color: rgb(67, 67, 67);
}

.gamepad-container {
  display: flex;
  width: 100%;
  max-height: 100%;
  flex-direction: row;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: rgb(67, 67, 67);
}

.g1-text-wrapper,
.g2-text-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.label {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  color: #4fb185;
}
