#keyboard-table-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
    table-layout: fixed;

}

#keyboard-table {
  margin: 0 auto;
  border-collapse: collapse;
  color: black;
}

#keyboard-table th,
#keyboard-table td {
  border: 1px solid black;
}

#keyboard-table th {
  background-color: #4fb185;
  font-weight: bold;
  color: white;
}

#keyboard-table td {
  font-size: 9.5px;
}