.connectionInfo--connected, .connectionInfo--disconnected {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  padding: 5px 10px 5px 5px;
  border-top: 1px solid gray;
  font-size: large;
}

.connectionInfo--connected {
  color: #4fb185;
}

.connectionInfo--disconnected {
  color: #ff0000;
}

.connectionInfo--connected > p, .connectionInfo--disconnected > p {
  margin: 10px;
}
