.calc-panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.waypoint-inputs {
  margin: 150px;
  display: flex;
  flex-direction: row;
}

.waypoint-input {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.results {
  margin: 150px;
  font-size: larger;
}
