.op-mode-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
  }
  
  .op-mode-toggle-button > button {
    display: block;
    border: none;
    color: white;
    margin: 14px;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .op-mode-toggle-button--teleoperation{
    background-color: #ed4245;
  }
  
  .op-mode-toggle-button--teleoperation:hover {
    cursor: pointer;
    background-color: #dc3134;
  }
  
  .op-mode-toggle-button--teleoperation:active {
    cursor: pointer;
    background-color: #cb2023;
  }
  
  /* Autonomous mode button */
  .op-mode-toggle-button--autonomous {
    background-color: #4fb185;
  }
  
  .op-mode-toggle-button--autonomous:hover {
    cursor: pointer;
    background-color: #3ea074;
  }
  
  .op-mode-toggle-button--autonomous:active {
    cursor: pointer;
    background-color: #2d8f63;
  }
  