.op-mode-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.op-mode-select > p {
  color: #cccccc;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.op-mode-select__op-mode {
  text-transform: capitalize;
}

.op-mode-select__op-mode--teleoperation {
  color: #ff7700;
}

.op-mode-select__op-mode--autonomous {
  color: #4e00e0;
}