.swerveDriveMode {
    display: flex;
    justify-content: center;
    position: relative;
}

.rover {
    background-color: #999999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 40%;
    top: 20%;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    font-size: 3vh; 
    font-weight: bold;
    padding-bottom: 10px;
}

.rover select {
    width: 100%;
    min-height: 10%;
    font-size: 1vw;
    background-color: #ccc;
    border-radius: 5px;
}

.override {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.overrideLabel {
  color: white;
  padding-left: 5px;
}

.wheel {
    position: absolute;
    height: 30%;
    width: 30%;
    background-color: #222222;
    border: 1px #999999 solid;
    border-radius: 5px;
}

.front { top: -16%; }
.back { top: 86%; }
.left { left: -16%; }
.right { left: 86%; }