.logging-panel {
  padding: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 100%;
  box-sizing: border-box;
}

.logging-panel__log-level-select {
  font-size: 24px;
  margin-bottom: 10px;
}

.logging-panel__log-level-select select {
  font-size: inherit;
}

.logging-panel__entry {
  font-family: 'Consolas', monospace;
  font-size: 18px;
}

.logging-panel__entry--trace {
  color: white;
}

.logging-panel__entry--debug {
  color: white;
}

.logging-panel__entry--info {
  color: #3f3;
}

.logging-panel__entry--warn {
  color: yellow;
}

.logging-panel__entry--error {
  color: red;
}
