.sidebarNavItem--selected, .sidebarNavItem--unselected {
  cursor: pointer;
  margin: 10px;
  font-size: x-large;
}

.sidebarNavItem--unselected {
  color: gray;
}

.sidebarNavItem--selected {
  color: white;
}

.sidebarNavItem--selected > h2 {
  margin-left: 10px;
}

.sidebarNavItem--unselected:hover {
  color: lightgray;
}
