.emergency-stop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
}

.emergency-stop-button > button {
  display: block;
  border: none;
  color: white;
  margin: 14px;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}

.emergency-stop-button--operational > button {
  background-color: #ed4245;
}

.emergency-stop-button--stopped > button {
  background-color: #4fb185;
}

.emergency-stop-button--disabled > button {
  color: gray;
  background-color: #3f4145;
}

.emergency-stop-button--operational > button:hover {
  cursor: pointer;
  background-color: #dc3134;
}

.emergency-stop-button--stopped > button:hover {
  cursor: pointer;
  background-color: #3ea074;
}

.emergency-stop-button--disabled > button:hover {
  cursor: not-allowed;
}

.emergency-stop-button--operational > button:active {
  cursor: pointer;
  background-color: #cb2023;
}

.emergency-stop-button--stopped > button:active {
  cursor: pointer;
  background-color: #2d8f63;
}
