.navbar {
  flex: 1;
}

.navbar > ul {
  list-style: none;
  padding: 0;
}

.navbar__navLink {
  font-size: 32px;
  font-weight: 500;
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  margin: 10px 10px;
  border-radius: 5px;
  -webkit-user-drag: none;
}

.navbar__navLink--active {
  color: white;
  background-color: #3f4145;
}

.navbar__navLink:hover {
  color: lightgray;
  background-color: #2f3135;
}

.navbar__navLink--active:hover {
  color: white;
  background-color: #3f4145;
}

.navbar__icon {
  margin-right: 20px;
}
