.navbar {
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar > ul {
  list-style: none;
  padding: 0;
}

.navbar__nav-link {
  font-size: 30px;
  font-weight: 500;
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  margin: 10px 10px;
  border-radius: 5px;
  -webkit-user-drag: none;
}

.navbar__nav-link--active {
  color: white;
  background-color: #3f4145;
}

.navbar__nav-link:hover {
  color: lightgray;
  background-color: #2f3135;
}

.navbar__nav-link--active:hover {
  color: white;
  background-color: #3f4145;
}

.navbar__icon {
  margin-right: 16px;
}
