.cameraView {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cameraView > p {
  font-size: xx-large;
}

.cameraView > img {
  max-width: 100%;
  max-height: 100%;
  /* TODO: Figure out how to maintain the border radius when resizing. */
  border-radius: 15px;
}
